include *.txt
include *.md
include *.pkl
recursive-include ./housing_model *

include housing_model/datasets/housing_dataset.csv
include housing_model/datasets/test.csv
include housing_model/trained_models/*.pkl
include housing_model/VERSION
include housing_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]